<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        
    </head>
    <body onload="clearSession()">
        <div id="messages"></div>
        username:<input type="text" id="username" required>
        email:<input type="email" id="email" required>
        <button onclick="login()">LOGIN</button>
        
        <br><div id="messages"></div><br>

        <p>
            To login use credentilas from https://jsonplaceholder.typicode.com/users<br>
            Each user has 25 actions per day
        </p>
        <script src="../JS/users.js"></script>
    </body>